.white-font, .submit-button{
    color:aliceblue;
}

.links-container a{
    color: black;
}

.links-container a:hover {
    color: rgb(0, 154, 92);
    text-decoration: underline;
    font-size: larger;
}

.city-container {
    display: flex;
    justify-content: space-between; /* Равномерное распределение между элементами */
    align-items: center; /* Выравнивание по центру по вертикали */
    margin-bottom: 20px; /* Отступ снизу */

}
.city-image {
    max-width: 50%; /* Максимальная ширина изображения */
    height: auto; /* Автоматическая высота */
    border-radius: 5px; /* Закругленные углы */
}
.city-name {
    text-align: center; /* Выравнивание текста по центру */
    font-weight: bold; /* Жирный шрифт */
    font-family: 'Open Sans', sans-serif;

}

section, footer, .flex-container{
    padding-left: 10%;
    padding-right: 10%;

}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.form-group{
    padding-left: 10%;
    width: 60%;
    display: flex;
    justify-content:center;
    font-size: medium;
    align-content: center;
    flex-direction: column;

}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* Стили для меток полей */
.form-group label {
    font-weight: bold;
}

/* Стили для полей ввода и текстовой области */
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    background-color: #fff;
}

/* Стили для кнопки отправки */
.form-group button[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #2f7e66;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* При наведении на кнопку отправки */
.form-group button[type="submit"]:hover {
    background-color: #ffb300;
}
#Contact-Us{
    padding-top: 50%;
    color: rgb(255, 255, 255);
}
#successfully-sent{
    padding: 0 30%;
    font-size: large;
}
#Thank-You{
 color: #fff;
 padding-top: 30%;   
}
.nav{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}