.links-container {
    display: flex;
    flex-direction:column;
    padding-top: 30px;
  }

.email-form, .email-input{
    border: 2px #000000;
    border-radius: 5px;
    
}

.submit-button{
    background-color: darkgreen;
    position: relative;
    padding-top: 1.5px;
    font-size: small;
    width: 80px;
}

.submit-button::after {
    content: '\2192';
    position: absolute;
    right: 0; 
    top: 50%;
    transform: translateY(-50%);
}

footer{
    background-color: rgb(255, 192, 32);
    padding: 20px 10px 70px 10px;
    width: 100%;
    
}