.flex-container{
    background-image: url(../images/header3.jpg);
    background-repeat: no-repeat;
    width: 100%;
    display:flex;
    align-items:flex-start;
    flex-direction:column;
    
 
}

@media (min-width: 768px) {

    .flex-container{
        background-image: url(../images/header.jpg);
        background-position: center;
        height: 1000px;
        width: 100%;
        background-size: cover;
    }

    
}

.big-font {
    font-size: 400%;
}

#button-globe-white{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#search-form input[type="text"] {
    background: none;
    border: none;
    padding: 5px;
}

#search-form input[type="text"]::placeholder {
    color: white;
    font: bold;
}

.nav-element{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);


}

.Year-long-travel{
    font-size: 24px;
}

.bottom-part{
    padding: 20%;
   
}

.form{
    display: inline-flex;
    padding: 5%;
    width: 400px;
    height: 50px;
    flex-direction:column;

}

.element-search{
    display: inline-flex;
    justify-content:flex-start;
}

.grid-container{
    display: grid;
    grid-template-columns: 300px auto;
}

.element-search div {
    margin: 0 10px; 
    
}



#destination, #date, #dateto, #guests, button{
    border: 2px #000000;
    border-radius: 5px;
}

