header {
    background-image: url(/images/header-mob.jpg);

    height: 96vh;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5%;
    background-size: cover;
}
.other-pages {
    background-image: url(/images/header-mob.jpg);

    height: 50vh;
    color: rgb(255, 255, 255);
    flex-direction: column;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    header {
        background-image: url(/images/header.jpg);

        height: 100vh;
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 20px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 15px;
}

.search-bar {
    display: flex;
}

.text-and-form form {
    display: grid;
    grid-template-areas:
        "select-destination select-destination select-destination"
        "from to guests"
        "submit submit submit";
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-flow: column;
}

.text-and-form form .select-destination {
    grid-area: select-destination;
}

.text-and-form form .from input {
    grid-area: from;
    width: 0;
    min-width: 100%;
}

.text-and-form form .to input {
    grid-area: to;
    width: 0;
    min-width: 100%;
}

.text-and-form form .guests input {
    grid-area: guests;
    width: 0;
    min-width: 100%;
    min-width: 0;
}

.text-and-form form .submit {
    grid-area: submit;
}
.text-and-form form .submit button {
    width: 0;
    min-width: 100%;
    border-radius: 15px;
    background-color: #ffc107;
    width: calc(100% - 20px);
    height: 28px;
    border: none;
    cursor: pointer;
}

.text-and-form form #field-destination {
    width: 100%;
}

.text-and-form form .from input,
.text-and-form form .to input,
.text-and-form form .guests input {
    grid-area: from;
    width: calc(100% - 20px);
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.text-and-form form .select-destination select {
    grid-area: select-destination;
    width: calc(100% - 20px);
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.text-and-form form .select-destination label,
.text-and-form form .from label,
.text-and-form form .to label,
.text-and-form form .guests label {
    margin-bottom: 0;
}

.search-icon {
    position: absolute;
}
.search-form {
    position: relative;
    left: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 0cap;
    color: rgb(255, 255, 255);
}

.search-form::placeholder {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}
.search-form input {
    width: 2fr;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.destinations-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.destinations-flex-container h1,
.destination-page-content h1 {
    font: size 30px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    color: white;
}

.destinations-flex-container p {
    font: size 10px;
}
.nav-other {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.nav-other .menu {
    display: grid;
    justify-content: end;
}
.italy-text-and-form {
    background-image: url(/images/3/italy2.jpg);
    background-size: cover;
    height: 100vh;

    margin: 20px 0 20px 0;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.content-container-md .text-and-form h1,
.content-container-main .text-and-form h1 {
    font-size: 3.2rem;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.pading {
    padding: 10px;
}

body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: block;
    margin: 0px;
}

@media (min-width: 768px) {
    .menu,
    .destinations-flex-container .nav-other #menu {
        display: none;
    }
    #some-text {
        font-size: 19px;
    }
    #thank-you {
        padding-top: 200px;
        padding-left: 10px;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: self-start;
        padding-right: 100px;
    }

    .other-pages {
        background-image: url(/images/header-short.jpg);
        height: 50vh;
        color: white;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .desctop-nav-links a,
    .destinations-flex-container .nav-other .home-link a,
    .destinations-flex-container .nav-other .desctop-nav-links a {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

        transition: color 0.3s;
    }
    .desctop-nav-links a:hover {
        transform: scale(1.1);
        color: #333;
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition: all 0.3s;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }
    .desctop-nav-links {
        display: flex;
        gap: 20px;

        align-items: end;
    }

    .content-container-md {
        padding: 20px 200px 0 200px;
    }
    .content-container-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 200px 20px 200px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .content-container-main h3 {
        font-size: 15px;
        font-weight: bold;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }

    .content-container {
        padding: 80px 10px 0px 10px;
    }

    .text-and-form .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 0;
        width: 0;
        min-width: 100%;
    }

    .text-and-form form .submit button img {
        vertical-align: inherit;
    }

    .text-and-form form .submit button {
        width: 0;
        border-radius: 20px;
        width: 70px;
        padding: 3px;

        border: none;
        cursor: pointer;
    }
    .text-and-form form #field-destination {
        width: 100%;
    }

    .text-and-form form .from input,
    .text-and-form form .to input,
    .text-and-form form .guests input {
        width: calc(100% - 15px);
        padding: 2px;
    }

    .text-and-form form .select-destination select {
        grid-area: select-destination;
        width: calc(100% - 15px);
        padding: 2px;
    }
    .footer-size,
    main {
        display: flex;
        justify-content: space-between;
        margin: 20px 200px 10px 200px;
        font-size: 12px;
    }
    #Destinations-Gallery {
        padding-top: 5rem;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }
    .footer-size div {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 550px;
    }

    strong {
        font-style: italic;
        font-size: 20px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }
    .city-container .country {
        color: rgb(225, 222, 222);
        font-size: 20px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }

    .email-form .email-input {
        width: 445px;
    }

    .cities-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .border-radius-left img {
        border-radius: 8px 0 0 8px;
    }

    .border-radius-raight img {
        border-radius: 0 8px 8px 0;
    }
    .text-and-form form {
        column-gap: 2rem;
    }
    .text {
        display: flex;
        gap: 30px;
        margin-bottom: 5px;
        margin-top: 20px;
    }
    .desktop-version h2 {
        margin-top: 15px;
    }
    footer {
        padding-top: 8px;
        padding-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .desctop-nav-links {
        display: none;
    }

    .city-container img {
        border-radius: 8px;
    }
    .content-container-md .text-and-form h3 {
        font-size: 10px;
        font-weight: bold;
        padding-top: 95%;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }
    .cities-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }
    main,
    footer,
    .other-pages,
    header {
        padding: 20px;
    }
    .italy-text-and-form {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 3rem;
    }
    .nav {
        padding: 20px;
    }
    footer h3 {
        padding-bottom: 1rem;
    }
    .content-container-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: space-between;
        padding: 0 20px 50px 20px;
    }

    strong {
        font-style: italic;
        font-size: 10px;
    }
    .city-container .country {
        color: rgb(225, 222, 222);
        font-size: 10px;
    }

    footer nav {
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }
    .destinations-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .content-container-md {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .text-and-form .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: self-start;
        position: absolute;

        left: 50%;
    }
    .content-container-md .text-and-form h3 {
        padding: top 10%;
    }

    .text-and-form form .submit button {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        height: 2.3rem;
        border-radius: 20px;
    }

    .text-and-form form {
        column-gap: 2rem;
    }
    .email-form {
        display: flex;
        justify-content: space-between;
    }
    .email-form .email-input {
        width: 100%;
    }
    #some-text {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    #Destinations-Gallery {
        font-size: smaller;
        padding-top: 80%;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }
}

@media (max-width: 600px) {
    .logo {
        display: flex;
        justify-content: center;
        align-items: self-start;
        padding-right: 10%;
    }
}
