header {
    background-image: url(/images/header.jpg);

    height: 100vh;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5%;
    background-size: cover;
}

.other-pages {
    background-image: url(/images/header2.jpg);

    height: 50vh;
    color: aliceblue;
    flex-direction: column;
    padding-bottom: 20px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 15px;
}

.text-and-form form {
    display: grid;
    grid-template-areas:
        "select-destination select-destination select-destination"
        "from to guests"
        "submit submit submit";
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-flow: column;
    gap: 3px;
}

.container-fluid {
    width: 0;
    min-width: 100%;
}

.text-and-form form .select-destination {
    grid-area: select-destination;
}

.text-and-form form .from input {
    grid-area: from;
    width: 0;
    min-width: 100%;
}

.text-and-form form .to input {
    grid-area: to;
    width: 0;
    min-width: 100%;
}

.text-and-form form .guests input {
    grid-area: guests;
    width: 0;
    min-width: 100%;
    min-width: 0;
}

.text-and-form form .submit {
    grid-area: submit;
}
.text-and-form form .submit button {
    width: 0;
    min-width: 100%;
    border-radius: 10px;
    background-color: goldenrod;
    width: calc(100% - 20px);
    padding: 5px;
    border: none;
    cursor: pointer;
}
.text-and-form form #field-destination {
    width: 100%;
}

.text-and-form form .from input,
.text-and-form form .to input,
.text-and-form form .guests input {
    grid-area: from;
    width: calc(100% - 20px);
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.text-and-form form .select-destination select {
    grid-area: select-destination;
    width: calc(100% - 20px);
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.logo {
    display: flex;
    justify-content: center;
}

.search-icon {
    position: relative;
}
.search-form {
    position: absolute;
    left: 20px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 0cap;
}

.search-form::placeholder {
    color: white;
    font-weight: bold;
}

.content-container-md {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.destinations-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.destinations-flex-container h1,
.destination-page-content h1 {
    font: size 30px;
    font-weight: bold;
}

.content-container-md .text-and-form h1 {
    font: size 40px;
    font-weight: bold;
}
.destinations-flex-container p {
    font: size 10px;
}
.nav-other {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.nav-other .menu {
    display: grid;
    justify-content: end;
}
.italy-text-and-form {
    background-image: url(/images/3/italy2.jpg);
    background-size: cover;
    height: 100vh;

    margin: 20px 0 20px 0;
    color: white;
}
.pading {
    padding: 10px;
}
#Thank-You {
    color: #fff;
    padding-top: 50%;

    padding-left: 10px;
}

body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: block;
    margin: 0px;
}

@media screen and (max-width: 768px) {
    #Destinations-Gallery {
        font-size: smaller;
    }
}
@media (max-width: 768px) {
    .destinations-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) {
    .menu,
    .destinations-flex-container .nav-other #menu {
        display: none;
    }

    #thank-you {
        padding-top: 200px;
        padding-left: 10px;
    }

    .header {
        background-image: url(/images/header.jpg);
        height: 100vh;
        color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 5%;
        background-size: cover;
    }

    .other-pages {
        background-image: url(/images/header2.jpg);
        height: 50vh;
        color: aliceblue;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .desctop-nav-links a,
    .destinations-flex-container .nav-other .home-link a,
    .destinations-flex-container .nav-other .desctop-nav-links a {
        color: rgb(248, 248, 248);
        text-decoration: none;
        transition: color 0.3s;
    }
    .desctop-nav-links a:hover {
        font-weight: bold;
    }
    .desctop-nav-links {
        display: flex;
        flex-direction: column;
    }

    .content-container-md,
    .desktop-version {
        padding: 20px 200px 10px 250px;
    }

    .desktop-version-foter {
        padding: 0px 200px 0px 190px;
    }

    .text-and-form .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .text-and-form .container-fluid > div {
        margin-right: 3px;
    }

    .text-and-form form .submit button {
        width: 0;
        min-width: 100%;
        border-radius: 10px;
        width: calc(100% - 10px);
        padding: 5px;
        margin-top: 5px;
        border: none;
        cursor: pointer;
    }
    .text-and-form form #field-destination {
        width: 100%;
    }

    .text-and-form form .from input,
    .text-and-form form .to input,
    .text-and-form form .guests input {
        width: calc(100% - 15px);
        padding: 2px;
    }

    .text-and-form form .select-destination select {
        grid-area: select-destination;
        width: calc(100% - 15px);
        padding: 2px;
    }
    .footer-size {
        display: flex;
        justify-content: space-between;
        margin: 20px 200px 10px 250px;
    }

    .footer-size div {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .cities-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .destination-page-flex {
        margin: 20px 200px 10px 250px;
    }
}

@media (max-width: 768px) {
    .desctop-nav-links {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
    }

    .cities-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }
    main,
    footer {
        padding: 8px;
    }
}
