.image-content {
    padding-top: 30px;
    padding-bottom: 25px;
}

span {
    font-weight: bold;
}

.city-container .country-city-name-container {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.city-container img {
    width: 100%;
    object-fit: cover;
    max-height: 450px;

    transition: filter 0.3s ease-in-out;
}

.city-container img:hover {
    filter: brightness(1.2);
}

.city-container {
    position: relative;
}

strong {
    font-style: italic;
}
.city-container .country {
    color: rgb(225, 222, 222);
}

.main {
    padding: 8px;
}
.successfully-sent {
    padding: 10px 5px;
    font-size: large;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: medium;
    align-content: center;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.form-group button[type="submit"] {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: darkgreen;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-group button[type="submit"]:hover {
    background-color: #ffc107;
}
